@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Inter", sans-serif;
	background-color: black;
}

/* Custom scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #34d07f;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #34d07f;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 4px;
}

/* For firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #34d07f #f1f1f1;
}
